h1{
    text-align: center;
}

p{
    text-align: center;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 90px;
  
}

img:hover {
    transform: scaleX(-1);

}



a{
    text-align: center;    
}



#newpost{

    text-align: center;
}