h4{
  color:blue;
  text-align: center;
  font-style:sunset;
  
}


h5{
  color: blue;
  text-align: center;
  font-style:sunset;
}

h6{ 

  color: blue;
  text-align: center;
  font-style:sunset;
}
 
article{

  line-height: 2;
  color: black

}