{% extends 'base.html' %}

{% block titulo %} Titulo {% endblock  %}


{% block contenido%}

<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
  {% for galeria in galeria %}

  {% load static %}
  <link rel="stylesheet" type= "text/css" href=" {% static 'galeria.css' %}">

  <div>
    <div class="class="img-fluid" ">  
      <div class="row">
      
      <div class="card" style="width: auto;">
           
          <img src="{{galeria.Imagen.url}}" height="200" />
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Nombre de la mascota: {{ galeria.Nombre_mascota}} </li>
            <li class="list-group-item"> Datos Adicionales: {{ galeria.Datos_adicionales}}</li>
            <li class="list-group-item"> Edad: {{ galeria.Edad}} </li>
            <li class="list-group-item"> Porte: {{ galeria.Porte}} </li>
            <li class="list-group-item"> Raza: {{ galeria.Raza}} </li>
            <li class="list-group-item"> Datos de la persona: {{ galeria.Datos_persona}} </li>
            <li class="list-group-item"> Direccion: {{ galeria.Direccion}} </li>
            <li class="list-group-item"> Telefono: {{ galeria.Telefono}}</li>
            <li class="list-group-item"> Id: {{ galeria.id}}</li>
          </ul>

      <div class="botones">
            <a name="" id="" class="btn btn-info" href="{% url 'editar' galeria.id %}" role="button">Editar</a> 

            <a name="" id="" class="btn btn-success" href="{% url 'provisorio' galeria.id %}" role="button">Provisorio</a>
                
            <a name="" id="" class="btn btn-success" href=" {% url 'adoptar' galeria.id %}" role="button">Adoptar</a>

            <a name="" id="" class="btn btn-success" href=" {% url 'eliminar' galeria.id %}" role="button">Eliminar</a>
      </div>

        </div> 
      
      </div>
    </div> 
  </div>
    <script src="" async defer></script>
    <br> </br>
    
  {% endfor %}
  </body>
</html>




{% endblock %}
