{% extends 'base.html' %}

{% block titulo %} Nosotros {% endblock  %}

{% block contenido  %}



<!DOCTYPE html>

<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type= "text/css" href=" {% static 'nosotros.css' %}">
</head>
    
<body>
        <br></br>
        <h4>NUESTRA HISTORIA </h4>

        <article>Adopciones Salta  se formó con el fin de poder rescatar, rehabilitar y luego dar en adopción aquellos perros, gatos abandonados o maltratados en la zona de Salta Capital - Provincia de Salta  </article>

        <br>
        <h5> NO TENEMOS UN LUGAR FÍSICO PROPIO </h5>
        </br>

        <article>Utilizamos distintos pensionados que se abonan por día hasta que se adopta el animal. Tenemos en este momento más de 80 animales adultos y cachorros (entre perros y gatos) que esperan encontrar un hogar donde se los trate con respeto y responsabilidad.</article>
        <br> </br>
        <h5>FORMA DE TRABAJO</h5>
        
        <article>Para llevar a cabo esta tarea, hay una serie de pasos que seguir:</article>
        <br> </br>
        <h6>PASO 1 – Rescate y recuperación </h6>

        <article> Se trata de hacer todo lo posible para dar asilo a la mayor cantidad de animales posible, por un tema de espacio y de presupuesto, no siempre es factible.
        Una vez que el animal es rescatado, se le realiza un control veterinario para conocer en qué estado se encuentra, se vacuna y desparasita. Paso seguido, se fija fecha para su castración.</article>
        <br> </br>
        <h6>PASO 2 – Difusión </h6>

        <article>Una vez efectuada la castración, se observa su temperamento, comportamiento e interacción con otros animales y humanos. 
        Luego de un minucioso diagnóstico se determina cuál sería su función en un hogar adoptivo: la de animal de compañía,
        guardia o alerta y qué tipo de ambiente sería ideal para el mismo: una casa, departamento, o un campo. 
        Asimismo, se evalúa cual sería su adoptante correcto: una familia con niños o solo de adultos.</article>
        <br> </br>
        <h6>PASO 3 – Puesta en adopción</h6>

        <article>Luego de haber sido evaluado su temperamento, se publican fotos en diferentes medios de comunicación; como internet en redes sociales, sitios dedicados al ofrecimiento de mascotas para adopción y anuncios en los diarios. </article>
        <br> </br>
        <h6>PASO 4 – Entrevistas</h6>
       
        <article>Se entrevista a los posibles candidatos para cada adopción. Para poder adoptar es necesario ser mayor de edad, tener el consentimiento de todos los integrantes de la familia y
        acreditar su identidad mediante la presentación del documento de identidad. 
        También se exige la copia de cualquier servicio a nombre del adoptante para poder cotejar la veracidad del domicilio.</article>
        <br> </br>
        <h6>PASO 5 – Seguimientos </h6>

        <article>Cada animal se entrega en adopción con una chapa identificadora que tiene números de contacto del grupo y un número que corresponde al animal adoptado. 
        Una vez que se efectuó la adopción, se vuelca esa información a una base de datos, que permite tener acceso a la información para llevar a cabo los seguimientos.
        Se realizan varios llamados a lo largo del tiempo para ver cómo se adaptó a su nuevo hogar.
        Muchos adoptantes generan un vínculo con Mascotas en adopción a traves de los años.</article>

        <br> </br>

        <h4>CONDICIONES DE ENTREGA DE LOS ANIMALES</4>

        <article>Todos los animales se entregan vacunados y desparasitados con certificado avalado por un veterinario y, si son adultos esterilizados. También se entregan con collar, chapita identificatoria y correa.</article>

        <article>No pedimos ningún tipo de remuneración por cada animal que entregamos en adopción. </article>
        
        <script src="" async defer></script>
</body>
</html>


    
{% endblock%}